<% if registration.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

    <ul>
      <% registration.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>