<%= form_with(model: registration) do |form| %>
  <%= render 'errors', registration: registration %>

  <div class="field">
    <%= form.label :issuer %>
    <%= form.text_field :issuer %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :deployment_id %>
    <%= form.text_field :deployment_id %>
  </div>

  <div class="field">
    <%= form.label :authorization_endpoint %>
    <%= form.text_field :authorization_endpoint %>
  </div>

  <div class="field">
    <%= form.label :jwks_uri %>
    <%= form.text_field :jwks_uri %>
  </div>

  <div class="field">
    <%= form.label :token_endpoint %>
    <%= form.text_field :token_endpoint %>
  </div>

  <div class="field">
    <%= form.label :product_family_code %>
    <%= form.text_field :product_family_code %>
  </div>

  <div class="field">
    <%= form.label :api_key %>
    <%= form.text_field :api_key %>
  </div>

  <div class="field">
    <%= form.label :api_secret %>
    <%= form.text_field :api_secret %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
