<h1>Dynamic Registration</h1>

<%= render 'errors', registration: @registration %>

<button onclick="(window.opener || window.parent).postMessage({subject:'org.imsglobal.lti.close'},'*')">Close</button>
