<p id="notice"><%= notice %></p>

<h1>Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Issuer</th>
      <th>Client</th>
      <th>Deployment</th>
      <th>Authorization endpoint</th>
      <th>Jwks uri</th>
      <th>Token endpoint</th>
      <th>Product family code</th>
      <th>Api key</th>
      <th>Api secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.issuer %></td>
        <td><%= registration.client_id %></td>
        <td><%= registration.deployment_id %></td>
        <td><%= registration.authorization_endpoint %></td>
        <td><%= registration.jwks_uri %></td>
        <td><%= registration.token_endpoint %></td>
        <td><%= registration.product_family_code %></td>
        <td><%= registration.api_key %></td>
        <td><%= registration.api_secret %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
