<h1>New Registration</h1>

<%= render 'form', registration: @registration %>

<h2>Tool</h2>
<% @configurations[:base].each do |k, v| %>
  <dl>
    <dt><%= k %></dt>
    <dd><%= v.to_json.html_safe %></dd>
  </dl>
<% end %>

<% @configurations.without(:base).each do |name, config| %>
  <h4><%= name %></h4>
  <% config.each do |k,v| %>
  <dl>
    <dt><%= k %></dt>
    <dd><%= v.to_json.html_safe %></dd>
  </dl>
  <% end %>
<% end %>

<%= link_to 'Back', registrations_path %>
