<p id="notice"><%= notice %></p>

<p>
  <strong>Issuer:</strong>
  <%= @registration.issuer %>
</p>

<p>
  <strong>Client:</strong>
  <%= @registration.client_id %>
</p>

<p>
  <strong>Deployment:</strong>
  <%= @registration.deployment_id %>
</p>

<p>
  <strong>Authorization endpoint:</strong>
  <%= @registration.authorization_endpoint %>
</p>

<p>
  <strong>Jwks uri:</strong>
  <%= @registration.jwks_uri %>
</p>

<p>
  <strong>Token endpoint:</strong>
  <%= @registration.token_endpoint %>
</p>

<p>
  <strong>Product family code:</strong>
  <%= @registration.product_family_code %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @registration.api_key %>
</p>

<p>
  <strong>Api secret:</strong>
  <%= @registration.api_secret %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
